<%- include('header') %>

<% if (!user) { %>
    <section class="jumbotron container mt-5">
        <h1>Multi-Tenant Portal Frontend Login</h1>
        <p class="mt-5"><a href="/login/facebook" class="loginBtn loginBtn--facebook">Login with Facebook</a></p>
        <p class="mt-5"><a href="/login/google" class="loginBtn loginBtn--google">Login with Google</a></p>
        <p class="mt-5"><a href="/login/linkedin" class="loginBtn loginBtn--linkedin">Login with Linkedin</a></p>
    </section>
<% } else { %>
    <% if (!is_authorized) { %>
        <section class="jumbotron container mt-5">
            <h1>Multi-Tenant Portal Frontend</h1>
            <p class="mt-5">You are not authorized to use resources in OF@TEIN++ Playground</p>
            <p class="mt-5">Please contact administrator and provide following Info </p>
            <p class="mt-5">Your ID: <%= user.id %> and Organization Info </p>
        </section>
    <% } else { %>
        <!-- Sidebar/menu -->
        <nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:3;width:300px;" id="mySidebar"><br>
            <div class="w3-container w3-row">
                <div class="w3-col s4">
                    <img src="public/images/avatar.png" class="w3-circle w3-margin-right" style="width:46px">
                </div>
                <div class="w3-col s8 w3-bar">
                    <span>Welcome, <strong><%= user.displayName %> ID: <%= user.id %> </strong></span><br>
                </div>
            </div>
            <hr>
            <div class="w3-container">
                <h5>Dashboard</h5>
            </div>
            <div class="w3-bar-block">
                <a href="#" class="w3-bar-item w3-button w3-padding-16 w3-hide-large w3-dark-grey w3-hover-black"
                   onclick="w3_close()" title="close menu"><i class="fa fa-remove fa-fw"></i>  Close Menu</a>
                <a href="#" class="w3-bar-item w3-button w3-padding w3-blue"><i class="fa fa-users fa-fw"></i> 
                    Deploy</a>
                <a href="#" class="w3-bar-item w3-button w3-padding"><i class="fa fa-eye fa-fw"></i>  List</a>
                <a href="/logout" class="w3-bar-item w3-button w3-padding"><i class="fa fa-history fa-fw"></i> 
                    Logout</a>
            </div>
        </nav>
        <!-- Overlay effect when opening sidebar on small screens -->
        <div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer"
             title="close side menu" id="myOverlay"></div>

        <!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:300px;margin-top:43px;">

    <!-- Header -->
    <header class="w3-container" style="padding-top:22px">
        <h5><b><i class="fa fa-dashboard"></i> <%= user.displayName %> Dashboard</b></h5>
    </header>

    <div class="w3-row-padding w3-margin-bottom">
        <div class="w3-container">
            <h4 style="color: blue">Kubernetes Cluster(s)</h4>
            <table class="w3-table w3-striped w3-bordered w3-border w3-hoverable w3-white">
                <tr>
                    <th>Cluster</th>
                    <th>Cluster Status</th>
                </tr>
                <% Cluster_List.forEach(function(Cluster_List) { %>
                    <tr>
                        <td><%= Cluster_List.cluster %></td>
                        <td
                        <% if (Cluster_List.running === true) { %>
                            style="background-color:green;color:white;">
                            Up
                        </td>
                        <% } else{ %>
                            style="background-color:red;color:white;">
                            Down
                        <% } %>
                        </td>
                    </tr>
                <% }); %>
            </table>
            <br><br><br>

            <h4 style="color: blue">Running Deployments (Pods, Deployments, Services)</h4>
            <table class="w3-table w3-striped w3-bordered w3-border w3-hoverable w3-white">
                <tr>
                    <th>Cluster</th>
                    <th>Kind</th>
                    <th>Namespace</th>
                    <th>Name</th>
                </tr>
                <% if (GIST_Pod_List[0] && GIST_Pod_List[0].kind) {%>
                    <% GIST_Pod_List.forEach(function(GIST_Pod_List) { %>
                        <tr>
                            <td>gist</td>
                            <td><%= GIST_Pod_List.kind %></td>
                            <td><%= GIST_Pod_List.name %></td>
                            <td><%= GIST_Pod_List.namespace %> </td>
                        </tr>
                    <% }); %>
                <% } %>
                <% if (UM_Pod_List[0] && UM_Pod_List[0].kind) {%>
                    <% UM_Pod_List.forEach(function(UM_Pod_List) { %>
                        <tr>
                            <td>um</td>
                            <td><%= UM_Pod_List.kind %></td>
                            <td><%= UM_Pod_List.name %></td>
                            <td><%= UM_Pod_List.namespace %> </td>
                        </tr>
                    <% }); %>
                <% } %>
                <% if (CHULA_Pod_List[0] && CHULA_Pod_List[0].kind) {%>
                    <% CHULA_Pod_List.forEach(function(CHULA_Pod_List) { %>
                        <tr>
                            <td>chula</td>
                            <td><%= CHULA_Pod_List.kind %></td>
                            <td><%= CHULA_Pod_List.name %></td>
                            <td><%= CHULA_Pod_List.namespace %> </td>
                        </tr>
                    <% }); %>
                <% } %>
            </table>
            <br>
        </div>
        <hr>

        <div class="w3-container">
            <h4 style="color: blue">Create new Deployment (Pod, Deployment, Service)</h4>
            <form id="deployForm" name="deployForm"
                  action="<%= pods_post_url %>>"
                  method="post" enctype="multipart/form-data" target="_blank" >
                <label for="cluster">Select Deployment Cluster (Running):</label>
                <select id="cluster" name="cluster">
                    <option value="chula">CHULA-Thailand</option>
                    <option value="gist" selected>GIST-Korea</option>
                    <option value="um">UM-Malaysia</option>
                </select>
                <br><br>
                <label for="yaml">Select YAML File:</label>
                <input type="file" id="yaml" name="yaml" required>
                <input id="userid" name="userid" type="hidden" value="<%= user.id %>">
                <br><br><br>
                <input class="w3-button w3-dark-grey" type="submit" value="Deploy">
            </form>
        </div>
    </div>
    <% } %>
    <% } %>

    <script>
        // Get the Sidebar
        var mySidebar = document.getElementById("mySidebar");

        // Get the DIV with overlay effect
        var overlayBg = document.getElementById("myOverlay");

        // Toggle between showing and hiding the sidebar, and add overlay effect
        function w3_open() {
            if (mySidebar.style.display === 'block') {
                mySidebar.style.display = 'none';
                overlayBg.style.display = "none";
            } else {
                mySidebar.style.display = 'block';
                overlayBg.style.display = "block";
            }
        }

        // Close the sidebar with the close button
        function w3_close() {
            mySidebar.style.display = "none";
            overlayBg.style.display = "none";
        }

        /*function validateForm() {
            var yaml = document.forms["deplyForm"]["yaml"].value;
            if (yaml == "" || yaml == null) {
                alert("Yaml file must be selected.");
                return false;
            }
            alert("Yaml file must be selected." + document.getElementById('userid').value);
        }*/

        /*let form = document.getElementById("deployForm");
        form.addEventListener("submit", (e) => {
          e.preventDefault();
          alert("Deployment request submitted successfully!");
        });*/

    </script>

    <%- include('footer') %>
