<%- include('header') %>

<% if (!user) { %>
    <section class="jumbotron container mt-5">
        <div style="background-color:#e6f5ff;">
            <div style="background-color:#000066;color:white;">
                <h2>Multi-Tenant Portal Login</h2>
            </div>
            <div>
                <p class="mt-5"><a href="/login/facebook" class="loginBtn loginBtn--facebook">Login with Facebook</a>
                </p>
                <p class="mt-5"><a href="/login/google" class="loginBtn loginBtn--google">Login with Google</a></p>
                <p class="mt-5"><a href="/login/linkedin" class="loginBtn loginBtn--linkedin">Login with Linkedin</a>
                </p>
                <br><br>
                <p><b>Please, Login Using One of the Authentication Provider.</b></p>
            </div>
        </div>
    </section>
<% } else { %>
    <% if (!is_authorized) { %>
        <section class="jumbotron container mt-5">
            <div style="background-color:#e6f5ff;">
                <div style="background-color:#000066;color:white;">
                    <h2>Multi-Tenant Portal Authorization</h2>
                </div>
                <div style="color:red;">
                    <p class="mt-5">You are not authorized to use resources in OF@TEIN++
                        Playground</p>
                    <p class="mt-5" style="color:black;">Please contact administrator and provide following Info </p>
                    <p class="mt-5" style="color:black;">Your ID: <%= user.id %> and Organization Info </p>
                </div>
            </div>
        </section>
    <% } else { %>
        <!-- Sidebar/menu -->
        <nav class="w3-sidebar w3-collapse w3-animate-left w3-light-grey"
             style="z-index:3;width:300px;" id="mySidebar"><br>
            <div class="w3-container w3-row">
                <div class="w3-col s4">
                    <img src="public/images/avatar.png" class="w3-circle w3-margin-right" style="width:46px">
                </div>
                <div class="w3-col s8 w3-bar">
                    <p>Welcome</p>
                    <p><strong><%= user.displayName %></strong></p>
                </div>
            </div>
            <hr>
            <div class="w3-container w3-block w3-blue-grey" >
                <h5 class="fa fa-home w3-xlarge"> Dashboard</h5>
            </div>
            <div class="w3-bar-block">
                <a href="#" class="w3-bar-item w3-button w3-padding-16 w3-hide-large w3-dark-green w3-hover-red"
                   onclick="w3_close()" title="close menu"><i class="fa fa-remove fa-fw"></i>Close Menu</a>
                <a href="#cluster-div" class="w3-bar-item w3-button w3-padding"><i class="fa fa-eye fa-fw" style="font-size:24px;color:green"></i>Cluster(s) status</a>
                <a href="#existing-workload-div" class="w3-bar-item w3-button w3-padding"><i class="fa fa-eye fa-fw" style="font-size:24px;color:cadetblue"></i>List Workloads</a>
                <a href="#new-workload-div" class="w3-bar-item w3-button w3-padding"><i class="fa fa-eye fa-fw" style="font-size:24px;color:#3B55A0"></i>New Workload</a>
                <a href="/logout" class="w3-bar-item w3-button w3-padding"><i class="fa fa-history fa-fw" style="font-size:24px;color:red"></i>Logout</a>
            </div>
        </nav>
        <!-- Overlay effect when opening sidebar on small screens -->
        <div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer"
             title="close side menu" id="myOverlay"></div>

        <!-- !PAGE CONTENT! -->
        <div class="w3-main w3-white" style="margin-left:305px;margin-top:3px;">
            <!-- Header -->
            <header class="w3-container w3-light-grey w3-text-black" style="margin-left:4px;padding-top:4px;">
                <h4><b><%= user.displayName %> Dashboard</b></h4>
                <p class="w3-section w3-round w3-panel w3-large">Multi-tenant Portal is part of OF@TEIN++ Project (Open Federated Playgrounds for AI-inspired SmartX Services).</p>
            </header>

            <hr style="height:3px;color:gray;background-color:#ff1a75">

            <div class="w3-row-padding w3-margin-bottom">
                <div id="cluster-div" class="w3-container w3-center">
                    <p class="w3-section w3-round w3-panel w3-xlarge w3-text-white" style="background-color:#3399ff;">Kubernetes Cluster(s)</p>
                    <table class="w3-table w3-bordered w3-border w3-centered w3-white" style="width:100%">
                        <tr style="background-color:white;color:#3399ff;text-align:center;width:600px;"><th colspan="3">Kubernetes Cluster(s) Running Status</th></tr>
                        <tr>
                            <% Cluster_List.forEach(function(Cluster_List) { %>
                                <td
                                <% if (Cluster_List.running === true) { %>
                                    style="width:200px;text-align:center;color:white;background-color:green;">
                                    <%= Cluster_List.cluster %>
                                </td>
                                <% } else{ %>
                                    style="width:200px;text-align:center;color:white;background-color:red;">
                                    <%= Cluster_List.cluster %>
                                </td>
                                <% } %>
                            <% }); %>
                        </tr>
                    </table>
                </div>

                <div id="existing-workload-div" class="w3-container w3-center">
                    <hr style="height:3px;color:gray;background-color:#ff1a75">
                    <p class="w3-section w3-round w3-panel w3-xlarge w3-text-white" style="background-color:#3399ff;color:white;">Deployed Workloads (Pods, Deployments, Services)</p>
                    <table id="workloadsTable" class="w3-table w3-striped w3-bordered w3-border w3-white">
                        <tr style="background-color:white;color:#3399ff;">
                            <th>Name</th>
                            <th>Creation Time</th>
                            <th>Cluster</th>
                            <th>Workload Type</th>
                            <th>Namespace</th>
                            <th>Delete</th>
                        </tr>
                        <% if (USER_Pod_List[0] && USER_Pod_List[0].cluster) { %>
                            <% USER_Pod_List.forEach(function(USER_Pod_List) { %>
                                <tr>
                                    <td><%= USER_Pod_List.name %></td>
                                    <td><%= USER_Pod_List.created %> </td>
                                    <td><%= USER_Pod_List.cluster %></td>
                                    <td><%= USER_Pod_List.status.kind %> </td>
                                    <td><%= USER_Pod_List.status.namespace %> </td>
                                    <td><input class="w3-button w3-red w3-text-white fa fa-trash" type="button" value="Delete" onclick="deleteRow(this)"></td>
                                </tr>
                            <% }); %>
                        <% } %>
                        <% if (USER_Deployment_List[0] && USER_Deployment_List[0].cluster) { %>
                            <% USER_Deployment_List.forEach(function(USER_Deployment_List) { %>
                                <tr>
                                    <td><%= USER_Deployment_List.name %></td>
                                    <td><%= USER_Deployment_List.created %> </td>
                                    <td><%= USER_Deployment_List.cluster %></td>
                                    <td><%= USER_Deployment_List.status.kind %> </td>
                                    <td><%= USER_Deployment_List.status.namespace %> </td>
                                    <td><input class="w3-button w3-red w3-text-white fa fa-trash" type="button" value="Delete" onclick="deleteRow(this)"></td>
                                </tr>
                            <% }); %>
                        <% } %>
                    </table>
                </div>

                <div id="new-workload-div" class="w3-container">
                    <hr style="height:3px;color:gray;background-color:#ff1a75">
                    <p class="w3-section w3-round w3-panel w3-center w3-xlarge w3-text-white" style="background-color:#3399ff;color:white;">Create New Workload (Pod, Deployment, Service)</p>
                    <form id="deployForm" name="deployForm"
                          action="<%= post_url %>"
                          method="post"
                          enctype="multipart/form-data"
                          onsubmit="return validateForm()"
                          target="_blank">
                        <label for="cluster">Select Cluster for Workload Deployment (Running):</label>
                        <select id="cluster" name="cluster">
                            <option value="chula">CHULA-Thailand</option>
                            <option value="gist" selected>GIST-Korea</option>
                            <option value="um">UM-Malaysia</option>
                        </select>
                        <br><br>
                        <label for="workload_type">Select Workload Type:</label>
                        <select id="workload_type" name="workload_type">
                            <option value="pod" selected>Pod</option>
                            <option value="deployment">Deployment</option>
                            <option value="service">Service</option>
                        </select>
                        <br><br>
                        <label for="yaml">Select YAML File:</label>
                        <input type="file" id="yaml" name="yaml" required>
                        <input id="userid" name="userid" type="hidden" value="<%= user.id %>">
                        <br><br><br>
                        <input class="w3-button w3-dark-grey" type="submit" value="Deploy">
                    </form>

                    <p id="post_url" style="display:none"><%= post_url %></p>
                </div>
            </div>
    <% } %>
    <% } %>

    <script>
        // Get the Sidebar
        var mySidebar = document.getElementById("mySidebar");

        // Get the DIV with overlay effect
        var overlayBg = document.getElementById("myOverlay");

        // Toggle between showing and hiding the sidebar, and add overlay effect
        function w3_open() {
            if (mySidebar.style.display === 'block') {
                mySidebar.style.display = 'none';
                overlayBg.style.display = "none";
            } else {
                mySidebar.style.display = 'block';
                overlayBg.style.display = "block";
            }
        }

        // Close the sidebar with the close button
        function w3_close() {
            mySidebar.style.display = "none";
            overlayBg.style.display = "none";
        }

        //Create new workload
        function validateForm() {
            const post_url = document.getElementById("post_url").innerText;
            const user_id = document.forms["deployForm"]["userid"].value;
            const cluster_id = document.forms["deployForm"]["cluster"].value;
            const workload_type = document.forms["deployForm"]["workload_type"].value;

            if (user_id == "" || user_id == null) {
                alert("User ID must be specified.");
                return false;
            } else {
                alert("New workload request sent to the server for User ID " + user_id);
            }

            document.getElementById("deployForm").action = post_url + "/" + workload_type.trim() + "s?cluster=" + cluster_id + "&userid=" + user_id;
            //window.location.href = post_url + "?cluster=" + cluster_id + "&userid=" + user_id;
        }

        //Delete existing workload
        function deleteRow(r) {
            //var i = r.parentNode.parentNode.rowIndex;
            const user_id = document.forms["deployForm"]["userid"].value;
            const post_url = document.getElementById("post_url").innerText;

            const row = r.parentNode.parentNode;
            const workload = row.querySelector('td').innerHTML;
            const cluster = row.querySelector('td:nth-child(3)').innerHTML;
            const workload_type = row.querySelector('td:nth-child(4)').innerHTML.toLowerCase();

            const delete_url = post_url + "/" + workload_type.trim() + "s?cluster=" + cluster + "&userid=" + user_id + "&name=" + workload;

            // Call Backend API
            fetch(delete_url, {method: 'DELETE'})
                .then(res => res.json())
                .then(res => console.log(res))

            // Remove from the HTML table
            document.getElementById("workloadsTable").deleteRow(row.rowIndex);
        }

        /*function validateForm() {
            var yaml = document.forms["deplyForm"]["yaml"].value;
            if (yaml == "" || yaml == null) {
                alert("Yaml file must be selected.");
                return false;
            }
            alert("Yaml file must be selected." + document.getElementById('userid').value);
        }*/

        /*let form = document.getElementById("deployForm");
        form.addEventListener("submit", (e) => {
          e.preventDefault();
          alert("Deployment request submitted successfully!");
        });*/

    </script>

    <%- include('footer') %>
